In [2]:
#importando librerias
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

---

### Q1. Versión de Pandas

In [3]:
#verificando la version de pandas
pd.__version__

'2.3.2'

---

In [4]:
#descargando el dataset
!wget https://raw.githubusercontent.com/alexeygrigorev/datasets/master/laptops.csv

--2025-09-13 19:29:18--  https://raw.githubusercontent.com/alexeygrigorev/datasets/master/laptops.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.110.133, 185.199.111.133, 185.199.108.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 298573 (292K) [text/plain]
Saving to: ‘laptops.csv.1’

laptops.csv.1       100%[===================>] 291.58K  --.-KB/s    in 0.07s

2025-09-13 19:29:18 (3.92 MB/s) - ‘laptops.csv.1’ saved [298573/298573]

In [5]:
# cargando el dataset
df = pd.read_csv('laptops.csv')

In [6]:
df.sample(5)

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
394,Razer Blade 17 QHD 240Hz Intel Core i7-12800H/...,New,Razer,Blade,Intel Core i7,16,1000,SSD,RTX 3070,17.3,No,3499.99
2085,MSI Prestige 14 A12SC-069XES Intel Core i7-128...,Refurbished,MSI,Prestige,Intel Core i7,16,512,SSD,GTX 1650,14.0,No,1349.00
2113,MSI Raider GE77HX 12UGS-019ES Intel Core i7-12...,Refurbished,MSI,Raider,Intel Core i7,32,1000,SSD,RTX 3080,17.3,No,3799.00
277,Lenovo ThinkPad E15 Gen 4 AMD Ryzen 7 5825U/16...,New,Lenovo,ThinkPad,AMD Ryzen 7,16,512,SSD,NaN,15.6,No,1129.00
654,HP Chromebook x360 11 G3 Education Edition Int...,New,HP,Chromebook,Intel Celeron,4,32,NaN,NaN,11.6,Yes,282.57

---

### Q2. Recuento de registros

¿Cuántos registros hay en el conjunto de datos?

- 12
- 1000
- 2160 ✅
- 12160

In [7]:
#calculando el total de registros
totalRegistros = df.shape[0]
totalRegistros

2160

---

### Q3. Marcas de portátiles
¿Cuántas marcas de computadoras portátiles se presentan en el conjunto de datos?

- 12
- 27 ✅
- 28
- 2160

In [8]:
df['Brand'].nunique()

27

---

### Q4. Valores faltantes
¿Cuántas columnas del conjunto de datos tienen valores faltantes?

- 0
- 1
- 2
- 3 ✅

In [9]:
#verificando si hay valores faltantes
df.isnull().any()
#verificando la cantidad de valores faltantes
df.isnull().sum()

Laptop             0
Status             0
Brand              0
Model              0
CPU                0
RAM                0
Storage            0
Storage type      42
GPU             1371
Screen             4
Touch              0
Final Price        0
dtype: int64

---

### Q5. Precio final máximo
¿Cuál es el precio final máximo de los portátiles Dell en el conjunto de datos?

- 869
- 3691
- 3849
- 3936 ✅

In [10]:
#precion maximo de dell
Q5 = df[df['Brand'] == 'Dell']['Final Price'].max()

Q5

3936.0

---

### Q6. Valor medio de la pantalla
Encuentra el valor mediano de Screen columna en el conjunto de datos.
A continuación, calcule el valor más frecuente del mismo Screen columna.
Uso fillna método para completar los valores faltantes en Screen columna con el valor más frecuente del paso anterior.
Ahora, calcule el valor mediano de Screen una vez más.
¿Ha cambiado?

Sugerencia: consulte existente mode y median funciones para completar la tarea.

- Sí
- No ✅

In [11]:
#valor mediana de la columna screen
valor_mediana = df["Screen"].median()
valor_mediana

15.6

In [12]:
#valor mas frecuente de la columna screen
valor_frecuencia = df["Screen"].mode()[0]
valor_frecuencia

np.float64(15.6)

In [17]:
df['Screen'].fillna(valor_frecuencia, inplace=True)
df['Screen']

0       15.6
1       15.6
2       15.6
3       15.6
4       15.6
        ...
2155    17.3
2156    17.3
2157    17.3
2158    13.4
2159    13.4
Name: Screen, Length: 2160, dtype: float64

In [14]:
df["Screen"].median()

15.6

---

Q7. Suma de pesos
Seleccione todas las computadoras portátiles "Innjoo" del conjunto de datos.
Seleccione solo columnas RAM, Storage, Screen.
Obtenga la matriz NumPy subyacente. Vamos a llamarlo X.
Calcular la multiplicación matriz-matriz entre la transpuesta de X y X. Para obtener la transposición, utilice X.T. Llamemos al resultado XTX.
Calcule la inversa de XTX.
Crea una matriz y con valores [1100, 1300, 800, 900, 1000, 1100].
Multiplica la inversa de XTX con la transposición de X, y luego multiplica el resultado por y. Llame al resultado w.
¿Cuál es la suma de todos los elementos del resultado?
Nota: Acabas de implementar la regresión lineal. Hablaremos de ello en la próxima lección.

- 0,43
- 45,29
- 45,58
- 91.30 ✅

In [15]:
X = df[df['Brand'] == 'Innjoo'][['RAM', 'Storage', 'Screen' ]]
XTX = X.T.dot(X)
XTX
XTX_inv = np.linalg.inv(XTX)
y = np.array([1100, 1300, 800, 900, 1000, 1100])
w = XTX_inv.dot(X.T).dot(y)
w.sum()

np.float64(91.29988062995457)