In [2]:
#importando librerias
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### Q1. Versión de Pandas

In [3]:
#verificando la version de pandas
pd.__version__

'2.3.2'

In [3]:
#descargando el dataset
!wget https://raw.githubusercontent.com/alexeygrigorev/datasets/master/laptops.csv

--2025-09-13 18:31:57--  https://raw.githubusercontent.com/alexeygrigorev/datasets/master/laptops.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 298573 (292K) [text/plain]
Saving to: ‘laptops.csv.2’

laptops.csv.2       100%[===================>] 291.58K  --.-KB/s    in 0.05s

2025-09-13 18:31:57 (5.59 MB/s) - ‘laptops.csv.2’ saved [298573/298573]

In [4]:
# cargando el dataset
df = pd.read_csv('laptops.csv')

In [21]:
df.sample(5)

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
163,ASUS TUF Gaming A15 2023 FA507NV-LP031W AMD Ry...,New,Asus,TUF,AMD Ryzen 7,16,512,SSD,RTX 4060,15.6,No,1349.00
1578,Lenovo V15 G3 ABA AMD Ryzen 5 5625U/8GB/512GB ...,New,Lenovo,V15,AMD Ryzen 5,8,512,SSD,NaN,15.6,No,547.63
648,HP OMEN 17-ck0013ns Intel Core i7-11800H/32GB/...,New,HP,Omen,Intel Core i7,32,1000,SSD,RTX 3060,17.3,No,1699.01
1762,Apple MacBook Pro Intel Core i5/8GB/256GB SSD/...,Refurbished,Apple,MacBook Pro,Intel Core i5,8,256,SSD,NaN,13.3,No,1155.01
461,MSI Creator M16 B13UDX-686ES Intel Core i7-137...,New,MSI,Creator,Intel Core i7,16,1000,SSD,RTX 3050,16.0,No,1699.01

### Q2. Recuento de registros

¿Cuántos registros hay en el conjunto de datos?

- 12
- 1000
- 2160 ✅
- 12160

In [5]:
#calculando el total de registros
totalRegistros = df.shape[0]
totalRegistros

2160

### Q3. Marcas de portátiles
¿Cuántas marcas de computadoras portátiles se presentan en el conjunto de datos?

- 12
- 27 ✅
- 28
- 2160

In [6]:
df['Brand'].nunique()

27

### Q4. Valores faltantes
¿Cuántas columnas del conjunto de datos tienen valores faltantes?

- 0
- 1
- 2
- 3 ✅

In [7]:
#verificando si hay valores faltantes
df.isnull().any()
#verificando la cantidad de valores faltantes
df.isnull().sum()

Laptop             0
Status             0
Brand              0
Model              0
CPU                0
RAM                0
Storage            0
Storage type      42
GPU             1371
Screen             4
Touch              0
Final Price        0
dtype: int64

### Q5. Precio final máximo
¿Cuál es el precio final máximo de los portátiles Dell en el conjunto de datos?

- 869
- 3691
- 3849
- 3936 ✅

In [8]:
#precion maximo de dell
Q5 = df[df['Brand'] == 'Dell']['Final Price'].max()

Q5

3936.0

### Q6. Valor medio de la pantalla
Encuentra el valor mediano de Screen columna en el conjunto de datos.
A continuación, calcule el valor más frecuente del mismo Screen columna.
Uso fillna método para completar los valores faltantes en Screen columna con el valor más frecuente del paso anterior.
Ahora, calcule el valor mediano de Screen una vez más.
¿Ha cambiado?

Sugerencia: consulte existente mode y median funciones para completar la tarea.

- Sí
- No ✅

In [9]:
#valor mediana de la columna screen
valor_mediana = df["Screen"].median()
valor_mediana

15.6

In [10]:
#valor mas frecuente de la columna screen
valor_frecuencia = df["Screen"].mode()[0]
valor_frecuencia

np.float64(15.6)

In [14]:
df['Screen'].fillna(valor_frecuencia, inplace=True)

/tmp/ipykernel_24090/1339044133.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Screen'].fillna(valor_frecuencia, inplace=True)

In [17]:
df["Screen"].median()

15.6

Q7. Suma de pesos
Seleccione todas las computadoras portátiles "Innjoo" del conjunto de datos.
Seleccione solo columnas RAM, Storage, Screen.
Obtenga la matriz NumPy subyacente. Vamos a llamarlo X.
Calcular la multiplicación matriz-matriz entre la transpuesta de X y X. Para obtener la transposición, utilice X.T. Llamemos al resultado XTX.
Calcule la inversa de XTX.
Crea una matriz y con valores [1100, 1300, 800, 900, 1000, 1100].
Multiplica la inversa de XTX con la transposición de X, y luego multiplica el resultado por y. Llame al resultado w.
¿Cuál es la suma de todos los elementos del resultado?
Nota: Acabas de implementar la regresión lineal. Hablaremos de ello en la próxima lección.

- 0,43
- 45,29
- 45,58
- 91.30 ✅

In [36]:
X = df[df['Brand'] == 'Innjoo'][['RAM', 'Storage', 'Screen' ]]
XTX = X.T.dot(X)
XTX
XTX_inv = np.linalg.inv(XTX)
y = np.array([1100, 1300, 800, 900, 1000, 1100])
w = XTX_inv.dot(X.T).dot(y)
w.sum()

np.float64(91.29988062995457)