In [1]:
import pandas as pd 
import numpy as np

<hr style="border-top: 2px solid black;">

### Q1. Versión de Pandas

In [3]:
pd.__version__

'2.3.2'

In [2]:
#obtner datos 
!wget https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv

--2025-09-27 15:22:38--  https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.109.133, 185.199.110.133, 185.199.111.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 874188 (854K) [text/plain]
Saving to: ‘car_fuel_efficiency.csv’

car_fuel_efficiency 100%[===================>] 853.70K  --.-KB/s    in 0.08s

2025-09-27 15:22:39 (10.5 MB/s) - ‘car_fuel_efficiency.csv’ saved [874188/874188]

In [4]:
df = pd.read_csv('car_fuel_efficiency.csv')

In [5]:
df.columns

Index(['engine_displacement', 'num_cylinders', 'horsepower', 'vehicle_weight',
       'acceleration', 'model_year', 'origin', 'fuel_type', 'drivetrain',
       'num_doors', 'fuel_efficiency_mpg'],
      dtype='object')

In [6]:
df.columns = df.columns.str.lower().str.replace(' ', '_')

In [7]:
string =  list(df.dtypes[df.dtypes == "object"].index)
string

['origin', 'fuel_type', 'drivetrain']

In [8]:
for col in string:
    df[col] = df[col].str.lower().str.replace(' ', '_')

In [11]:
df.sample(5)

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
431,210,1.0,125.0,3907.386934,NaN,2016,europe,diesel,front-wheel_drive,-2.0,11.352624
8157,200,2.0,204.0,3552.996930,12.4,2021,asia,gasoline,all-wheel_drive,0.0,12.371410
2273,190,2.0,146.0,3250.220554,15.4,2005,usa,gasoline,all-wheel_drive,-1.0,13.381783
3630,170,3.0,115.0,3379.976612,13.9,2001,asia,gasoline,all-wheel_drive,0.0,12.962025
4493,70,3.0,158.0,3752.099308,11.7,2012,usa,diesel,front-wheel_drive,0.0,11.968380

<hr style="border-top: 2px solid black;">

### Q2. Recuento de registros

¿Cuántos registros hay en el conjunto de datos?

- 4704
- 8704
- 9704 ✅
- 17704

In [10]:
registros = df.shape[0]
registros

9704

<hr style="border-top: 2px solid black;">

### Q3. Tipos de combustible

¿Cuántos tipos de combustible se presentan en el conjunto de datos?

- 1
- 2 ✅
- 3
- 4

In [12]:
marcas = df['fuel_type'].nunique()
marcas

2

<hr style="border-top: 2px solid black;">

### Q4. Valores faltantes
¿Cuántas columnas del conjunto de datos tienen valores faltantes?

- 0
- 1
- 2
- 3
- 4 ✅

In [13]:
valoresNulos = df.isnull().any().sum()
print(valoresNulos)

4

<hr style="border-top: 2px solid black;">

### Q5. Máxima eficiencia de combustible
¿Cuál es la máxima eficiencia de combustible de los coches de Asia?

- 13,75
- 23,75 ✅
- 33,75
- 43,75

In [35]:
precio_maxixo_origin = df[df["origin"] == "asia"]["fuel_efficiency_mpg"].max()
round(precio_maxixo_origin,3)

23.759

<hr style="border-top: 2px solid black;">

### Q6. Valor medio de los caballos de fuerza
Encuentra el valor mediano de horsepower columna en el conjunto de datos.
A continuación, calcule el valor más frecuente del mismo horsepower columna.
Uso fillna método para completar los valores faltantes en horsepower columna con el valor más frecuente del paso anterior.
Ahora, calcule el valor mediano de horsepower una vez más.
¿Ha cambiado?

Sí, aumentó ✅ <br>
Sí, disminuyó <br>
No

In [53]:
valorMediano = df["horsepower"].median()
print(f'Este es el valor mediano {valorMediano}')
valorFrecuente = df["horsepower"].mode()[0]
print(f'Este es el valor mas frecuente {valorFrecuente}')
valoresFaltantes = df['horsepower'].fillna(valorFrecuente)
valorMedianoLimpio = valoresFaltantes.median()
print(f'Este es valor frecuente sin datos faltantes {valorMedianoLimpio}')
print('-------------------')
print(f"valor mediano con datos faltantes {valorMediano} \nvalor mediano sin datos faltantes {valorMedianoLimpio}")

Este es el valor mediano 149.0
Este es el valor mas frecuente 152.0
Este es valor frecuente sin datos faltantes 152.0
-------------------
valor mediano con datos faltantes 149.0
valor mediano sin datos faltantes 152.0

<hr style="border-top: 2px solid black;">

### Q7. Suma de pesos
Selecciona todos los coches de Asia <br>
Seleccione solo columnas vehicle_weight y model_year <br>
Seleccione los primeros 7 valores <br>
Obtenga la matriz NumPy subyacente. Vamos a llamarlo X. <br>
Calcular la multiplicación matriz-matriz entre la transposición de X y X. Para obtener la transposición, utilice X.T. Llamemos al resultado XTX. <br>
Invertir XTX. <br>
Crea una matriz "y" con valores [1100, 1300, 800, 900, 1000, 1100, 1200]. <br>
Multiplica la inversa de XTX con la transposición de X, y luego multiplica el resultado por y. Llame al resultado w. <br>
¿Cuál es la suma de todos los elementos del resultado?<br>
Nota: Acabas de implementar la regresión lineal. Hablaremos de ello en la próxima lección.

- 0,051
- 0,51 ✅
- 5.1
- 51

In [ ]:
CocheAsia = df[df['origin'] == 'asia'][['vehicle_weight', 'model_year']]
X = CocheAsia.head(7)
XTX = X.T.dot(X)
XTX
XTX_inv = np.linalg.inv(XTX)
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])
w = XTX_inv.dot(X.T).dot(y)
print(w.sum().round(3))

0.519